canvas {
    background-color: white;
    padding: 10px;
}

.radio-btn-box {
    text-align: center;
    background-color: rgb(223, 223, 223);
    padding: 20px 0;
    border-radius: 15px 15px 0 0;
}

.linechart {
    height: 500px;
}