.body {
    min-height: 100vh;
    background: rgb(217, 244, 255);

    ul {
        list-style-type: none;
        display: flex;
        background-color: rgb(204, 204, 204);
        width: 100%;
        justify-content: center;
        padding: 20px 0;

        li {
            padding: 0 20px;
            font-size: 20px;
        }
        
        a {
            text-decoration: none;
            color: #121212;
            background: white;
            padding: 7px;
            border-radius: 10px;
        }
    }
}